@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #fdfcf6;
$subColor: #061283;
$keyColor: #14c0c9;
$fontColor: #4c4c4c;



/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}


/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 769px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.golf-image {
  background-image: url(../images/golf.jpg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
  @media (max-width: 768px) {
  .golf-image {
    height: 250px;
  }
}
// ozaki
#ozaki {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(row);    // スキルボックスを横に並べる
  }
  .ozaki-box {
    @include flex(1);
    margin: 10px 10px;                     // マージン
    padding: 20px;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }  
  
  h2 {
    color: $baseColor;
    margin-bottom: 10px;
        font-size: 4rem;
    font-weight: bold;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
// desktop
@media (max-width: 768px) {
    .container {
      @include flex-direction(column);     // スキルボックスを縦に並べる
      justify-content: space-between;
    }
    .ozaki-box {
      margin: 10px 0;                   // 上下にマージン
    }
  }
}
#contact {
  ul {
    text-align: center;
    margin-top: 5px;
    li {
      display: inline-block;
      font-size: 2.8rem;
      text-align: center;
      margin-right: 20px;
      @include box-sizing(border-box);
      vertical-align: top;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      display: block;
      width: 300px;
      height: 50px;
      color: #FFF;
      background-color: $keyColor;
      @include border-radius(4px);
    }
  }
    h2 {
    color: $subColor;
    margin-bottom: 5px;
        font-size: 4rem;
    font-weight: bold;
  }
}